<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Fix warning: declare camera optional -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workshop06">

        <!-- Activities -->
        <activity android:name=".DashboardActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SupportActivity"/>
        <activity android:name=".UsageActivity" />
        <activity android:name=".BillingActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".EmployeeDashboardActivity" />
        <activity android:name=".EmployeeProfileActivity" />
        <activity android:name=".LocationListActivity" />
        <activity android:name=".LocationFormActivity" />
        <activity android:name=".SubscriptionFormActivity" />
        <activity android:name=".AddOnListActivity" />
        <activity android:name=".AddOnFormActivity" />
        <activity android:name=".QuoteCustomerListActivity" />
        <activity android:name=".QuotesListActivity" />
        <activity android:name=".CustomBundleActivity" />
        <activity android:name=".InvoiceListActivity" />
        <activity android:name=".InvoiceDetailActivity" />
        <activity android:name=".InvoiceFormActivity" />
        <activity android:name=".ManagerEmployeeSalesActivity" />
        <activity android:name=".ServiceRequestFormActivity" />
        <activity android:name=".ServiceRequestListActivity" />
        <activity android:name=".ServiceAppointmentListActivity" />
        <activity android:name=".ServiceAppointmentFormActivity" />
        <activity android:name=".PlanFeatureFormActivity" />
        <activity android:name=".PlanFeatureListActivity" />
        <activity android:name=".ActivityLogListActivity" />
        <activity android:name=".EmployeeFormActivity" />
        <activity android:name=".EmployeeListActivity" />
        <activity android:name=".EmployeeSalesActivity" />
        <activity android:name=".CustomerAddressFormActivity" />
        <activity android:name=".CustomerFormActivity" />
        <activity android:name=".CustomerListActivity" />
        <activity android:name=".PlanFormActivity" />
        <activity android:name=".PlanListActivity" />
        <activity android:name=".ChangePasswordFirstLoginActivity"/>
        <activity android:name=".PlanAddOnListActivity" />
        <activity android:name=".PlanAddOnFormActivity" />
        <activity android:name=".NavMapActivity" />

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5Tuu3y5QdtwRY02WzIjngDi1ZpnUQc_8" />

        <!-- ✅ MOVE FileProvider INSIDE application -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>